/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

.me-1 {
  margin-left: 1rem;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

body {
  background-color: #E4E7EC;
}

.flex-container {
  display: flex;
}

.flex-container.flex-col {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-content-center {
  align-content: center;
}

.align-items-center {
  align-items: center;
}
